
<div class="featurette">
    <img class="featurette-image img-circle pull-right" src="~/assets/me.jpg">
    <h2 class="featurette-heading">Make your life easier. <span class="text-muted">Worry less, save more.</span></h2>
    <p class="lead">Have you not to know where your money goes? Wallet Manager helps to track the movement of your finances!</p>
    <blockquote>
        <p>Have fun with Geeky Wallet.</p>
        <footer>Zdravka Sandova</footer>
    </blockquote>
</div>
<hr class="featurette-divider">
<script type="text/javascript">
        $(function () {
            $("#myCarousel").hide();
            $("#nav").attr("style", "margin-bottom: 0px !important; position: relative !important;")
        });
</script>

