
<div class="featurette">
    <img class="featurette-image img-circle pull-right" src="~/assets/Warning.png">
    <h2 class="featurette-heading">Privacy policy. <span class="text-muted">General Information</span></h2>
    <p class="lead"> The information we collect is used to improve the content of our Web pages and the quality of our service, and is not shared with or sold to other organizations for commercial purposes.</p>
    <blockquote>
        <p>All private data exchanged with wallet.geekycms.com is always transmitted over SSL.</p>
        <footer></footer>
    </blockquote>
</div>
<hr class="featurette-divider">
<script type="text/javascript">
        $(function () {
            $("#myCarousel").hide();
            $("#nav").attr("style", "margin-bottom: 0px !important; position: relative !important;")
        });
</script>