@{
    ViewBag.Title = "Incomes";
}

<div class="panel panel-success">
    <div class="panel-heading">Incomes</div>
    <div class="panel-body">
        <img src="@Url.Action("PieChartIncome", "MovementOfFunds")" />

        <img src="@Url.Action("PieChartIncomeReal", "MovementOfFunds")" />
    </div>
</div>