@{
    ViewBag.Title = "Expenses";
}

<div class="panel panel-success">
    <div class="panel-heading">Expenses</div>
    <div class="panel-body">
        <img src="@Url.Action("PieChart", "MovementOfFunds")" />

        <img src="@Url.Action("PieChartExpense", "MovementOfFunds")" />
    </div>
</div>
