@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Bulgaria<br />
    Plovdiv, 4000<br />
    <abbr title="Phone">P:</abbr>
    +359/ 32 232323
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:wallet@walletmanager.com">wallet@walletmanager.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:wallet@walletmanager.com">wallet@walletmanager.com</a>
</address>