@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4 text-center">
        <img class="img-circle" src="~/assets/money-airplane-140x140.jpg">
        <h2>Lorem Ipsum is simply</h2>
        <p>dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        <p><a class="btn btn-default" href="#">View details »</a></p>
    </div>
    <div class="col-md-4 text-center">
        <img class="img-circle" src="~/assets/jar-money_2357940b1-140x140.jpg">
        <h2>Lorem Ipsum is simply</h2>
        <p>dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        <p><a class="btn btn-default" href="#">View details »</a></p>
    </div>
    <div class="col-md-4 text-center">
        <img class="img-circle" src="~/assets/stethoscope-money-6436961-140x140.jpg">
        <h2>Lorem Ipsum is simply</h2>
        <p>dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        <p><a class="btn btn-default" href="#">View details »</a></p>
    </div>
</div><!-- /.row -->
<!-- START THE FEATURETTES -->
<hr class="featurette-divider">
<div class="featurette">
    <img class="featurette-image img-circle pull-right" src="~/assets/Finance.png">
    <h2 class="featurette-heading">Budget. <span class="text-muted">Only thing you need is to tap it into your wallet manager.</span></h2>
    <p class="lead">Wallet Manager will count for you and let you know - if you are doing well.</p>
</div>
<hr class="featurette-divider">
<div class="featurette">
    <img class="featurette-image img-circle pull-left" src="~/assets/money_calculator.png">
    <h2 class="featurette-heading">Categories. <span class="text-muted">List of default categories.</span></h2>
    <p class="lead">Actually you have absolute freedom of choice – you can change the names, create new ones or delete those you don´t use.</p>
</div>
<hr class="featurette-divider">
<div class="featurette">
    <img class="featurette-image img-circle pull-right" src="~/assets/safe_sh.png">
    <h2 class="featurette-heading">Editing<span class="text-muted">If you need to change or delete any already existing  item.</span></h2>
    <p class="lead">You can edit backwards all the detailes of each record, change the date or just delete it.</p>
</div>
<hr class="featurette-divider">