
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Settings page</h2>

<script type="text/javascript">
        $(function () {
            $("#myCarousel").hide();
            $("#nav").attr("style", "margin-bottom: 0px !important; position: relative !important;")
        });
</script>